@media screen and (min-width: 320px) and (max-width: 480px) {
    header {
        padding: 10px;
    }

    header > img {
        display: block;
        width: 30px;
    }

    .lista {
        display: none;
    }

    .container_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* #aulas > .container_div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
    } */

    .container_div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container_div img {
        width: 70%;
    }

    .aulas_item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aulas_item > p, .duracao_intensidade, .descricao, .aulas_item > img {
        width: 70%;
    }

    .planos {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        overflow: auto;
        align-items: center;
        justify-content: flex-start;
        padding: 0 50px;
    }

    .planos_plano {
        width: 270px;
    }

    .planos_plano > p:nth-child(2) {
        font-size: .9em;
    }

    #planos > p {
        font-size: .8em;
    }

    .informacao {
        gap: 20px;
    }
    
    .container_informacao p{
        font-size: 1em;
    }

    .container_informacao a {
        font-size: .8em;
    }
}