* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html {
    width: 100%;
    height: 100vh;
    background-color: #202020;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffbb33;
    box-shadow: 1px 1px 5px #000;
}

header > h1 {
    color: #fff;
    
}

.lista {
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin-right: 200px;
}

.item_lista > a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.lista > li:nth-child(4) {
    background-color: #000;
 
    padding: 5px;
}

.container_espaco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    border-radius: 20px;
    margin: 30px 0;
    padding: 20px 0;
}

.espaco_item {
    display: flex;
    flex-direction: column;
}

.container_espaco h2 {
    color: #fff;
    background-color: #ffbb33;
    margin-bottom: 15px;
}

.espaco_item img {
    width: 300px;
    border: 1px solid #ffbb33;
    border-radius: 3px;
}

.espaco_item p {
    color: #bbb;
    text-align: center;
    padding: 5px;
}

.container_espaco_item {
    display: flex;
    gap: 50px;
}

.aulas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #151515;
    border-radius: 20px;
    margin: 30px 0;
    padding: 20px 0;
}

.aulas h2 {
    color: #fff;
    background-color: #ffbb33;
    margin-bottom: 15px;
}

.aulas_container {
    display: flex;
    gap: 50px;
}

.aulas_item {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ffbb33;
    background-color: #ffbb33;
}

.aulas_item img {
    width: 299px;
    border: 1px solid #ffbb33;
}

.aulas_item p {
    text-align: center;
    padding: 10px;
    background-color: #ffbb33;
    font-weight: bold;
    
}

.duracao_intensidade {
    display: flex;
    justify-content: space-between;
    background-color: #151515
}

.duracao_intensidade p {
    background-color: #161616;
    color: #fff;
    font-size: 1em;
    font-weight: normal;
}

.descricao {
    display: flex;
    flex-direction: column;
    background-color: #ffbb33;
    padding: 10px;
}

.descricao a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.descricao p {
    font-weight: normal;
    text-align: center;
}

